.player{
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 34px 0px 0px 34px;
    color: white;
    padding: 8px;
    box-shadow: 0px 10px 18px 8px rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    
    span{
        font-size: 32px;
        margin-left: 16px;
    }
    
    background-color: rgb(135, 135, 135, 0.8);
    
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.player-active{
    background-color: rgb(228, 44, 228)!important;
}